New folder/assignment2/WebSites/assignment2/App_WebReferences/au/edu/qut/fastapps04/sqlServerWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="sqlServerWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://fastapps04.qut.edu.au/n7307853/sqlServerDB/sqlServerDB/sqlServerWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://fastapps04.qut.edu.au/n7307853/sqlServerDB/sqlServerDB/sqlServerWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://fastapps04.qut.edu.au/n7307853/sqlServerDB/sqlServerDB/sqlServerWebService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://fastapps04.qut.edu.au/n7307853/sqlServerDB/sqlServerDB/sqlServerWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/sqlServerDB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsqlServerWebService_ocGetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:ocGetCustomer" />
  </wsdl:message>
  <wsdl:message name="IsqlServerWebService_ocGetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ocGetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IsqlServerWebService_GetPhonePlans_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhonePlans" />
  </wsdl:message>
  <wsdl:message name="IsqlServerWebService_GetPhonePlans_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhonePlansResponse" />
  </wsdl:message>
  <wsdl:message name="IsqlServerWebService_GetPhoneModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhoneModels" />
  </wsdl:message>
  <wsdl:message name="IsqlServerWebService_GetPhoneModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhoneModelsResponse" />
  </wsdl:message>
  <wsdl:message name="IsqlServerWebService_InsertCustomerDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="IsqlServerWebService_InsertCustomerDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IsqlServerWebService_CheckPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlan" />
  </wsdl:message>
  <wsdl:message name="IsqlServerWebService_CheckPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IsqlServerWebService_CheckStock_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStock" />
  </wsdl:message>
  <wsdl:message name="IsqlServerWebService_CheckStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStockResponse" />
  </wsdl:message>
  <wsdl:message name="IsqlServerWebService_updatePhonePlan_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePhonePlan" />
  </wsdl:message>
  <wsdl:message name="IsqlServerWebService_updatePhonePlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePhonePlanResponse" />
  </wsdl:message>
  <wsdl:portType name="IsqlServerWebService">
    <wsdl:operation name="ocGetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IsqlServerWebService/ocGetCustomer" message="tns:IsqlServerWebService_ocGetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsqlServerWebService/ocGetCustomerResponse" message="tns:IsqlServerWebService_ocGetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhonePlans">
      <wsdl:input wsaw:Action="http://tempuri.org/IsqlServerWebService/GetPhonePlans" message="tns:IsqlServerWebService_GetPhonePlans_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsqlServerWebService/GetPhonePlansResponse" message="tns:IsqlServerWebService_GetPhonePlans_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhoneModels">
      <wsdl:input wsaw:Action="http://tempuri.org/IsqlServerWebService/GetPhoneModels" message="tns:IsqlServerWebService_GetPhoneModels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsqlServerWebService/GetPhoneModelsResponse" message="tns:IsqlServerWebService_GetPhoneModels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomerDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IsqlServerWebService/InsertCustomerDetails" message="tns:IsqlServerWebService_InsertCustomerDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsqlServerWebService/InsertCustomerDetailsResponse" message="tns:IsqlServerWebService_InsertCustomerDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IsqlServerWebService/CheckPlan" message="tns:IsqlServerWebService_CheckPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsqlServerWebService/CheckPlanResponse" message="tns:IsqlServerWebService_CheckPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IsqlServerWebService/CheckStock" message="tns:IsqlServerWebService_CheckStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsqlServerWebService/CheckStockResponse" message="tns:IsqlServerWebService_CheckStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePhonePlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IsqlServerWebService/updatePhonePlan" message="tns:IsqlServerWebService_updatePhonePlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsqlServerWebService/updatePhonePlanResponse" message="tns:IsqlServerWebService_updatePhonePlan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsqlServerWebService" type="tns:IsqlServerWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ocGetCustomer">
      <soap:operation soapAction="http://tempuri.org/IsqlServerWebService/ocGetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhonePlans">
      <soap:operation soapAction="http://tempuri.org/IsqlServerWebService/GetPhonePlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhoneModels">
      <soap:operation soapAction="http://tempuri.org/IsqlServerWebService/GetPhoneModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/IsqlServerWebService/InsertCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPlan">
      <soap:operation soapAction="http://tempuri.org/IsqlServerWebService/CheckPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStock">
      <soap:operation soapAction="http://tempuri.org/IsqlServerWebService/CheckStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePhonePlan">
      <soap:operation soapAction="http://tempuri.org/IsqlServerWebService/updatePhonePlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sqlServerWebService">
    <wsdl:port name="BasicHttpBinding_IsqlServerWebService" binding="tns:BasicHttpBinding_IsqlServerWebService">
      <soap:address location="http://fastapps04.qut.edu.au/n7307853/sqlServerDB/sqlServerDB/sqlServerWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>